@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #fbc02d;
  --primary-text-color: #f1f2f3;
  --primary-bg-color: #131a25;
  --secondary-bg-color: #17212e;
}

body {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: var(--primary-bg-color) !important;
}
